.page {
    position: relative;
}

.page-bd {
    background-color: #f1f1f1;
    overflow: hidden;
}

.page-results {
    text-align: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: .1rem;
    line-height: 22px;
    width: 100%;
}

.result {
    margin-top: 0;
    margin-bottom: 0;
    height: 140px;
    padding: .1rem .17rem 0;
    width: auto;
    border: 0 none;
    font: 14px/24px Arial, Helvetica, sans-serif;
    color: #555;
    background-color: #fff;
}

.result a {
    display: block;
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(23, 23, 23, .1);
}

.result h3 {
    font: 18px/28px Arial,Helvetica,sans-serif;
    color: #000;
    margin-top: .05rem;
}

.result-row {
    margin: .05rem -1.03092784% .05rem -1.03092784%;
    padding-right: 1.03092784%;
    padding-left: 1.03092784%;
    color: #555;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.result-foot {
    font: 14px/24px Arial,Helvetica,sans-serif;
    color: #999;
}

.result-time {
    margin-left: .1rem;
}

.page-controller {
    position: relative;
    height: 52px;
    line-height: 52px;
    margin: .1rem 0;
    background: #fff;
}

.page-fit {
    clear: both;
    margin-left: .17rem;
    margin-right: .17rem;
    background: #fff;
    height: 40px;
    border: 1px solid #d2d2d2;
    box-sizing: content-box;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 #f1f1f1;
    margin-bottom: 2px;
    display: -webkit-box;
}

.foot-logo {
    width: 100%;
    height: 62px;
}

.foot-logo .se-logo {
    width: 163px;
    height: 46px;
    display: inline-block;
    margin: 8px 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #999;
}

.foot-logo img {
    padding-top: 7px;
    width: 101px;
    height: 31px;
}