/* pageContent2 page2 */
#page2 {
    display: none;
}

#page2 > .p2_save {
    position: absolute;
    top: 2.5vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 65vw;
    height: 10vh;
    background: url("../img/baocun.png") no-repeat center center;
    background-size: contain;
}

#page2 > .p2_content {
    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 76vh;
    background: url("../img/bg.png") no-repeat center center;
    background-size: 100% 100%;
}

#page2 > .p2_message {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 10vh;
}

#page2 > .p2_content > .p2_content_body {
    position: relative;
    width: 100%;
    height: 70%;
    background: url("../img/bg1.png") no-repeat center center;
    background-size: 96% 96%;
}

#page2 > .p2_content > .p2_content_body > .p2_body_foxi2018 {
    position: absolute;
    top: 4vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 43vw;
    height: 13vh;
    background: url("../img/foxiyuyan1.png") no-repeat center center;
    background-size: 100% 100%;
}

#page2 > .p2_content > .p2_content_body > .p2_body_people {
    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 43vw;
    height: 4vh;
    text-align: center;
    color: #E21837;
    font-weight: bolder;
    font-size: 4em;
    line-height: 4vh;
}

#p2_people_name {
    font-size: 1em;
}

#page2 > .p2_content > .p2_content_body > .p2_body_wish {
    position: absolute;
    top:20vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 88%;
    height: 21vh;
    text-align: center;
    background: url("../img/wish_1.png") no-repeat center center;
    background-size: contain;
}

#page2 > .p2_content > .p2_content_body > .p2_body_time {
    position: absolute;
    right: 0;
    bottom: 5vh;
    left: 0;
    margin: auto;
    width: 75%;
    height: 7vh;
    background: url("../img/time.png") no-repeat center center;
    background-size: contain;
}

#page2 > .p2_content > .p2_content_words {
    position: relative;
    top:1vh;
    width: 100%;
    height: 10%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#p2_content_words_1 {
    font-family: "方正兰亭黑简体";
    font-size: 1em;
}

#page2 > .p2_content > .p2_content_words > p {
    font-family: "华文宋体";
    font-weight: 900;
    letter-spacing: 4px;
    font-size: 3.6em;
    text-align: center;
}

#page2 > .p2_content > .p2_content_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#page2 > .p2_content > .p2_content_footer > .p2_footer_left {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 50%;
    height: 50%;
    background: url("../img/again.png") no-repeat center center;
    background-size: contain;
}

#page2 > .p2_content > .p2_content_footer > .p2_footer_right {
    margin-right: 3vw;
    margin-left: 3vw;
    width: 50%;
    height: 50%;
    background: url("../img/mywish.png") no-repeat center center;
    background-size: contain;
}